@import url("https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap");

.container-fluid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

header h1 {
  font-size: 42px;
  text-align: center;
  margin-top: 50px;
  font-family: "Princess Sofia", cursive;
  color: rgb(81, 80, 80);
}

.nav-link {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.active {
  color: rgb(0, 128, 94) !important;
}

@media screen and (max-width: 991px) {
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    top: 0;
  }
  header nav {
    width: 100%;
    background-color: white;
  }
  header nav .collapse {
    flex-direction: row-reverse;
    text-align: center;
  }

  header h1 {
    font-size: 35px;
    font-family: "Princess Sofia", cursive;
    color: rgb(81, 80, 80);
    padding: 0px;
    margin: 20px 0px;
  }
  .container-fluid {
    display: flex;
  }
}

@media screen and (max-width: 430px) {
  header h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 280px) {
  header h1 {
    font-size: 25px;
  }
}
