<div class="title-container">
  <h1>Illustrator</h1>
</div>

<section class="ilustrator-content">
  <aside class="left">
    <div id="item-1" class="overlay_container">
      <img class="ilustrator imgg" src="/assets/img/ilustrator01.jpg" alt="" />
      <div class="overlay">
        <i id="0" class="fa-regular fa-heart"></i>
        <p class="count"></p>
      </div>
    </div>

    <div class="overlay_container">
      <img class="ilustrator" src="/assets/img/ilustrator03.jpg" alt="" />
      <div class="overlay">
        <i id="1" class="fa-regular fa-heart"></i>
        <p class="count"></p>
      </div>
    </div>

    <div class="overlay_container">
      <img class="ilustrator" src="/assets/img/ilustrator05.jpg" alt="" />
      <div class="overlay">
        <i class="fa-regular fa-heart"></i>
        <p class="count"></p>
      </div>
    </div>

    <div class="overlay_container">
      <img class="ilustrator" src="/assets/img/ilustrator07.jpg" alt="" />
      <div class="overlay">
        <i class="fa-regular fa-heart"></i>
        <p class="count"></p>
      </div>
    </div>

    <div class="overlay_container">
      <img class="ilustrator" src="/assets/img/ilustrator09.jpg" alt="" />
      <div class="overlay">
        <i class="fa-regular fa-heart"></i>
        <p class="count"></p>
      </div>
    </div>
  </aside>
  <aside class="right">
    <div class="overlay_container">
      <img class="ilustrator" src="/assets/img/ilustrator02.jpg" alt="" />
      <div class="overlay">
        <i class="fa-regular fa-heart heart"></i>
        <p class="count"></p>
      </div>
    </div>
    <div class="overlay_container">
      <img class="ilustrator" src="/assets/img/ilustrator04.jpg" alt="" />
      <div class="overlay">
        <i class="fa-regular fa-heart"></i>
        <p class="count"></p>
      </div>
    </div>
    <div class="overlay_container">
      <img class="ilustrator" src="/assets/img/ilustrator06.jpg" alt="" />
      <div class="overlay">
        <i class="fa-regular fa-heart"></i>
        <p class="count"></p>
      </div>
    </div>
    <div class="overlay_container">
      <img class="ilustrator" src="/assets/img/ilustrator08.jpg" alt="" />
      <div class="overlay">
        <i class="fa-regular fa-heart"></i>
        <p class="count"></p>
      </div>
    </div>
  </aside>
</section>

<app-footer></app-footer>
