<div class="title-container">
  <h1>Illustrator</h1>
</div>

<section class="ilustrator-content">
  <aside class="left">
    <img class="ilustrator" src="/assets/img/ilustrator01.jpg" alt="" />
    <img class="ilustrator" src="/assets/img/ilustrator03.jpg" alt="" />
    <img class="ilustrator" src="/assets/img/ilustrator05.jpg" alt="" />
    <img class="ilustrator" src="/assets/img/ilustrator07.jpg" alt="" />
    <img class="ilustrator" src="/assets/img/ilustrator09.jpg" alt="" />
  </aside>
  <aside class="right">
    <img class="ilustrator" src="/assets/img/ilustrator02.jpg" alt="" />
    <img class="ilustrator" src="/assets/img/ilustrator04.jpg" alt="" />
    <img class="ilustrator" src="/assets/img/ilustrator06.jpg" alt="" />
    <img class="ilustrator" src="/assets/img/ilustrator08.jpg" alt="" />
  </aside>
</section>
<app-footer></app-footer>
