<div class="contactimg">
  <img src="/assets/img/contact.png" alt="" />
</div>

<div class="contactinfo">
  <h2>Contact</h2>
  <div class="contactinfoflex">
    <p>info@mysite.com</p>
    <p>|</p>
    <p>Tel: 123-456-7890</p>
  </div>
</div>
<form>
  <label for="FirstName">First Name *</label>
  <input type="text" class="" id="FirstName" />
  <label for="LastName">Last Name *</label>
  <input type="text" class="" id="LastName" />
  <label for="email">Email *</label>
  <input type="email" class="" id="email" />
  <label for="Phone">Phone</label>
  <input type="text" class="" id="Phone" />
  <label for="Message">Enter Your Message Here *</label>

  <textarea name="" class="" id="Message" cols="30" rows="10"></textarea>
  <button>Submit</button>
</form>

<app-footer></app-footer>
